body{
    background-color: #74d4c0;
    margin-bottom: 5px;
}

/* NAVBAR */
nav{margin-top: 5px;}
.navbar{margin: 5px 0 0; padding-right: 0;}
ul{margin-left: 10%;}
li{margin: 0 20px; font-weight: 500; font-size: 1.2rem; padding: 0.7rem 0;}


.btnphone{margin-left: 150px;}
.phone:hover{color: #000;}
#mainbox{
    background:linear-gradient(to right, rgba(16,14,23, 0.73), rgba(255, 255, 255, 0.52)), url('images/dental-chamber.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
.row{margin: 0;}
h1{font-size: 4rem;}
p{line-height: 2rem;}
span a{color: aqua; font-weight: 500;}

.colbox{
  padding: 270px 110px 0 236px;
  color: #fff;
}
.colbox2{
  padding: 140px 456px 56px 30px;  color: #fff;
}
.drBtn{border-radius: 3rem;
  font-weight: 500;
  border: 1px solid rgb(167, 172, 177);
  padding: 7px 21px;}


/* BOOK Appointment */

.table{margin-bottom: 0;}
.w{margin: 1rem 0;}
#bookApt{
  background-color: #fff;
  padding:10px 30px 30px;
  border-bottom-right-radius: 1rem;
  border-bottom-left-radius: 1rem;
}
input[type=text] {
    display:block;
    margin: 0 0 0 auto;
    width: 50px;
    margin-left: 100px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-top-left-radius: 5rem;
    border-bottom-left-radius: 5rem;
    font-size: 16px;
    background-image: url("images/searchIcon.png");
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding:    7px 21px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
  }
  input[type=text]:focus {
    width: 150px;
  }



fieldset{border:2px solid #74d4c0;border-radius: 0.5rem;}

legend{
  color: #000;
font-size: 1rem;
display: block;
    width: 100%;
    max-width: 17%;
    padding: 0px;
    margin-left: 1.5rem;margin-bottom: -10px;}

  .form-group>label{
    color: #000;
  }

  .form-group{
    border:2px solid;
    padding-top: 15px;
  }
  .form-group>input{
    border:none;
  }
  .form-control{font-size: 1.2rem; height: 60px;padding-top: 0; border: 0; }

.dropright .dropdown-toggle::after,.dropleft .dropdown-toggle::before {content: none;}

.arrowBox{
  border-radius: 5px;
}
.arrow-left{
  border-top: 12px solid transparent;
  border-bottom: 12px solid transparent;
  border-right: 12px solid;
  border-left: transparent;
  background: transparent;
  vertical-align: middle;
}
.arrow-right {
  background: transparent;
  border-top: 12px solid transparent;
  border-bottom:12px solid transparent;
  border-right: transparent;
  border-left: 12px solid;
  vertical-align: middle;
}



  select {
    background-image:
      linear-gradient(45deg, transparent 50%, #74d4c0 60%),
      linear-gradient(135deg, #74d4c0 40%, transparent 50%) !important;
    background-position:
      calc(100% - 30px) 24px,
      calc(100% - 20px) 24px,
      100% 0;
    background-size:
      10px 10px,
      10px 10px;
    background-repeat: no-repeat;
    -webkit-appearance: none;
    -moz-appearance: none;
  }


.date-picker{
  width: 100%;
    font-size: 1.2rem;
    height: 70px;
    vertical-align: middle;
}
.btn-group>.btn {
  margin: 15px 0;
  height: 60px;
}
.dropdown-toggle-split{
  padding: 0 30px;
}
.btnDate{
  font-weight: 500;
  font-size: 1.5rem;
}








  /* table */
table{background-color: #fff;
  text-align: center; }

  .table td, .table th {
    padding: .75rem 0;
    vertical-align: middle;
    border-top: 1px solid #dee2e6;
}

a{text-decoration: none; color:#000; font-size: 1rem;}
a:hover{text-decoration: none; color:#fff; font-size: 1rem;}
td:hover{background-color: #74d4c0; color: #fff; }

.notHover:hover{background-color: transparent; color: #000;}


.lineThrough{
  text-decoration:line-through;
  color: rgb(167, 172, 177);
}
.tooltip {
  position: relative;
  display: inline-block;
  opacity: 1;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 10px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

.btnCONTINUE{
  background-color:#74d4c0 ;
  color: #fff;
  font-weight: 700;
  line-height: 2;
}

.btnCONTINUE:hover{color: #fff;}

button{outline: none;}



@media(max-width:1300px){
  li{margin: 0 10px;
  }
  .form-inline{visibility: hidden;}
  .navbar{text-align: center;}
  .btnphone{margin: 0;}
  .colbox2{
    padding: 75px 136px 56px 150px;}

}
@media(max-width:1500px){
  .colbox2{
    padding: 50px;}
    .colbox{padding:100px}
}
@media(max-width:700px){
  .colbox2, .colbox{    padding: 5px;}
  h1{font-size: 3rem;}
  p{font-size: 1rem;}
  a, .lineThrough{font-size: 0.7rem;}
  a:hover{font-size: 0.7rem;}

}
